
<% content_for :page_wrapper do %>
<style>
	.well{background-color:#474343;color:white;}
	.alert{text-align: center;margin: 3%; font-family: monospace;}
	input{background-color:rgba(239, 234, 180, 0.63);width:100%; }
	input[type="submit"]{width:20%;}

</style>
	<div class="jumbotron" >
			<header class="container" >
				<button type="button" class="btn btn-info" id="newEveBtn" style="float:left;" >New</button>
				<button type="button" class="btn btn-info" id="editEveBtn" style="float:right;" >Edit</button>
			</header> 
			
			<% if flash[:queryStatus] %>
				<div class="alert alert-success"><%= flash[:queryStatus] %></div>
			<% end %>
			<% if flash[:Error] %>
				<div class="alert alert-warning"><%= flash[:Error] %></div>
			<% end %>

			<!-- create new events -->

			<div id="newEve" style="display:none;margin:4%;" >	
				<div class="well"  >Add new market events</div>
				<%= render partial:"admin/partials/form_market_events_partial",locals: { code: '1' } %>
			</div>
			
			<!-- edit events -->
			
			<div id="editEve" style="display:none;margin:4%;" >	
				<div class="well" >Edit existing market events</div>
				<%= render partial:"admin/partials/form_market_events_partial",locals: { code: '0' } %>
			</div>
			
			<div style="margin:4%;" id="showEve" >
					<% if @allEvent.class== String %>
						<div class="alert alert-warning"><%= @allEvent %></div>
					<% else %>
						<div id="market_events">
							<%= render partial:"admin/partials/market_events" %>
						</div>
					<% end %>

			</div>
	</div>
<% end %>

<% content_for :script do %>
	<script type="text/javascript" >
		$(document).ready(function(){
	    $("#newEveBtn").click(function(){
	    $("#newEve").animate({
	      height:'toggle'
	    });
	    });

	    $("#editEveBtn").click(function(){
	    $("#editEve").animate({
	      height:'toggle'
	    });
	    });

	    

	    });

	</script>

<%end%>