<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="dalal street" content="">
    <meta name="author" content="">

    <title>Dalal Street - Welcome</title>

    <%= stylesheet_link_tag "index" ,media: 'all', 'data-turbolinks-track' => true%>
    <%= csrf_meta_tags %>

</head>


<body>
    <!-- Page Content -->
 <div class="container">
                    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dalal Street</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                      <%= link_to "Dalal", controller: "dalal_dashboard", action: "show", id: current_user.id %>
                    </li>
                    <li>
                        <a href="#"><%= "Welcome #{ @username}" %></a>
                    </li>
                    <%else%>
                    <li>
                        <a href="#myModal" role="button" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="row">

    <div class="col-lg-12">
	   <div class="panel" id="socket_link" data-uri="<%= request.host %>:<%= request.port %>/websocket">
	    <%= render partial:"/dalal_dashboard/partials/stock_marquee_partial",locals: { stocks_list: @stocks_list }%>
	   </div>
    </div>
		    
    <div class="col-lg-12" style="margin-left:5px;">

	      <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Wrapper for slides -->
	      <div class="carousel-inner">
	      
	       <%@stock_names.each do |name|%>
	       <%if @i == 0-%>
	        <div class="item active">
	        <%@i=@i+1%>
	       <%else-%>
	        <div class="item">
	       <%end-%> 
	         <img <%= "src = /assets/#{name}.jpg" %> style="width:760px;height:400px;" class="img-responsive">
	           <div class="carousel-caption">
	            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
	            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
	          </div>
	        </div>
	       <% end %>
	                
	      </div><!-- End Carousel Inner -->
        <%@i = 0%>
	    <ul class="list-group col-sm-4">
	     <%@market_events_paginate.each do |event|%>
	      <li data-target="#myCarousel" <%= "data-slide-to= #{@i}" %> class="list-group-item"><h4><%= event.eventname%></h4></li>
	      <% @i = @i + 1%>
	     <% end %>
	    </ul>

	      <!-- Controls -->
	      <div class="carousel-controls">
	          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	          </a>
	      </div>

	    </div><!-- End Carousel -->

    </div>
    </div>

   <hr>

        <!-- Footer -->
        <footer>
            <div class="row	 text-center">
                <div class="col-lg-12">
                    <p>Copyright © Dalal Street 2015</p>
                    <p>Pragan 2015</p>
                </div>
            </div>
        </footer>

    </div>

     <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog">
	  <div class="modal-content contcustom">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <br> 		 
	           <div class="modal-body">
	              <span class="fa fa-spinner bigicon"></span>
		           <h2>Login</h2> 
		        <div>      
                <%=form_for(resource, :as => resource_name, :url => session_path(resource_name), :method =>'post') do |f| %>
					  <p><%= f.text_field :email , :placeholder => "email" %></p>
					  <p><%= f.password_field :password , :placeholder => "password"%></p>
					  <p><%= f.submit "Sign in", :class => "btn btn-primary" %></p>
				<% end %>
			          <span id="lock1" class="fa fa-lock medhidden redborder"></span>
	            </div>

	           </div>
	      </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
</body>

<script type="text/javascript">
	
    var dispatcher = new WebSocketRails($("#socket_link").data('uri'), true);

 $(document).ready(function(){

	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   4000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});

  window.requestAnimationFrame = (function(){
    return  window.requestAnimationFrame       ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame    ||
            function( callback ){
              window.setTimeout(callback, 1000 / 60);
            };
  })();

  var speed = 1000;
  (function currencySlide(){
      var currencyPairWidth = $('.slideItem:first-child').outerWidth();
      $(".modal-backdrop").remove();
      $(".slideContainer").animate({marginLeft:-currencyPairWidth},speed, 'linear', function(){
                  $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
          });
          requestAnimationFrame(currencySlide);
  })();

        var index_channel = new WebsocketClass(dispatcher);
        var index_subscribe = index_channel.channel_subscribe("index");
        var index_binder = index_channel.channel_binder("index_channel",update_index_page);
  

})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});

   var update_index_page = function(){
        var data = {bool:true};
        var index_update_socket = new WebsocketClass("#socket_link");
        var index_update_socket_binder = index_update_socket.evt_binder("index_updater");
        var index_update_socket_trigger = index_update_socket.evt_trigger("index_updater",data);
        var index_update_socket_unbind = index_update_socket.evt_unbinder();
   };

</script>

</html>
