<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="dalal street" content="">
    <meta name="author" content="">

    <title>Dalal Street - Welcome</title>

    <%= stylesheet_link_tag "index" ,media: 'all', 'data-turbolinks-track' => true%>
    <%= csrf_meta_tags %>

<script type="text/javascript">
    
    window.requestAnimationFrame = (function(){
    return  window.requestAnimationFrame       ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame    ||
            function( callback ){
              window.setTimeout(callback, 1000 / 60);
            };
  })();


  var speed = 1000;
  (function currencySlide(){
      var currencyPairWidth = $('.slideItem:first-child').outerWidth();
      $(".modal-backdrop").remove();
      $(".slideContainer").animate({marginLeft:-currencyPairWidth},speed, 'linear', function(){
                  $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
          });
          requestAnimationFrame(currencySlide);
  })();

</script>
</head>


<body>
    <!-- Page Content -->
 <div class="container">
                    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-size:22px"><b>Dalal Street</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#help" role="button" data-toggle="modal" data-target="#help">Manual</a>
                    </li>
                    <li>
                        <a href="#contact" role="button" data-toggle="modal" data-target="#contact">Contact</a>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                      <%= link_to "Play Dalal", controller: "dalal_dashboard", action: "show", id: current_user.id %>
                    </li>
                    <%else%>
                    <li>
                        <a href="#myModal" role="button" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="row">

    <div class="col-lg-12">
	   <div class="panel" id="socket_link" data-uri="<%= request.host %>:<%= request.port %>/websocket">
	    <%= render partial:"/dalal_dashboard/partials/stock_marquee_partial",locals: { stocks_list: @stocks_list }%>
	   </div>
    </div>
		    
    <div class="col-lg-12" style="margin-left:5px;">

	      <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Wrapper for slides -->
	      <div class="carousel-inner">
	      
	       <%@stock_names.each do |name|%>
	       <%if @i == 0-%>
	        <div class="item active">
	        <%@i=@i+1%>
	       <%else-%>
	        <div class="item">
	       <%end-%> 
	         <img <%= "src = /assets/#{name}.jpg" %> style="width:760px;height:400px;" class="img-responsive">
	           <div class="carousel-caption">
	          </div>
	        </div>
	       <% end %>
	                
	      </div><!-- End Carousel Inner -->
        <%@i = 0%>
	    <ul class="list-group col-sm-4">
	     <%@market_events_paginate.each do |event|%>
	      <li data-target="#myCarousel" <%= "data-slide-to= #{@i}" %> class="list-group-item"><h4><%= event.eventname%></h4></li>
	      <% @i = @i + 1%>
	     <% end %>
	    </ul>

	      <!-- Controls -->
	      <div class="carousel-controls">
	          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	          </a>
	      </div>

	    </div><!-- End Carousel -->

    </div>
    </div>

   <hr>

        <!-- Footer -->
        <footer>
            <div class="row	 text-center">
                <div class="col-lg-12">
                    <p>Copyright © Dalal Street 2015</p>
                    <p>Pragan 2015</p>
                </div>
            </div>
        </footer>

    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog">
	  <div class="modal-content contcustom">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <br> 		 
	           <div class="modal-body">
	              <span class="fa fa-spinner bigicon"></span>
		           <h2>Login</h2> 
		        <div>      
                <%=form_for(resource, :as => resource_name, :url => session_path(resource_name), :method =>'post') do |f| %>
					  <p><%= f.text_field :email , :placeholder => "email" %></p>
					  <p><%= f.password_field :password , :placeholder => "password"%></p>
					  <p><%= f.submit "Sign in", :class => "btn btn-primary" %></p>
				<% end %>
			          <span id="lock1" class="fa fa-lock medhidden redborder"></span>
	            </div>

	           </div>
	      </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <div class="modal" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom-contact">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
               <div class="modal-body">
                   <h2>Contact Us</h2> 
                      <div class="row">
                      <div class="col-lg-12">
                      
                      <h5>John Mathai - +919790922889</h5>
                      <h5>Giridhar    - +919003206058</h5>
                      <a href="https://www.facebook.com/pages/Dalal-Street/109866185756914" target="_blank" style="font-size:20px;">Visit our Facebook Page for regular updates.</a>
                      </div>
                      </div>
               </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom-help">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
          <div class="modal-body">
           <h2>Manual</h2> 

          <div class="row">
            <div class="col-lg-12">
               <p>
                   Its a virtual stock exchange game. A stock exchange is a place where the company sell their stocks to the public at a price which depends on the company market value and performance. 
               </p>
                   <p><img src = "/assets/DS1-min.png" style="width:900px;height:400px;" class="img-responsive">
                   </p>
               <p>
                   The price of the stock varies on the market events and stock transactions between different players.We have introduced a new feature in Dalal Street,Market Events.It lets you to have a better picture on what stock to buy,sell or trade.New events will be put up from time to time,so watch out for new events and trade wisely.<br><b> Note : </b>The events are fictional and not related to real market condtions.
               </p>
               
               <br>
               <br>
               
               <h4>Stock Exchange</h4>
               <p><img src = "/assets/DS3-min.png" style="width:900px;height:400px;" class="img-responsive">
                   </p>
                <ul>
                <li>Market events (Blue colour flash card) gives you the number of market events that has happened till this instant.</li>
                <li>Cash (Green colour flash card) shows the amount of virtual money that is in your account.</li>
                <li>Stock (Yellow colour flash card) shows the value of the stocks that you own in currency rate. This keeps varying depending on the present market price of the stocks that you own.</li>
                <li>Net wealth (Red colour flash card) is the sum of CASH + STOCK.</li>
                <li>The number of stock in exchange gives the units of shares that the company has put up on the market. Stock in Market refers to the number of stocks that are owned by the players.</li>
                <li>To <b>trade</b> stocks enter the amount of stocks you want to purchase from the company and hit the trade button<b>(green trade button).</b></li>
                <li>The notification panel on the right tracks all your stock transactions and moves in the market.</li>
                </ul>

                <br>
                <br>

                <h4>Buy and Sell</h4>
                <p><img src = "/assets/DS10-min.png" style="width:900px;height:400px;" class="img-responsive">
                   </p>
                <ul>
                <li>It lists all the stocks in the market and its related information.</li>
                <li>To <b>bid</b> or <b>ask</b> click on the company name. The pop up will open as shown in the picture above.</li>
                <li>You can bid and ask from Buy Panel and Sell Panel respectively.</li>
                <li>The <b>highest bid</b> will be given higher preference .</li>
                <li>You can also sell shares provided that you own shares of the company .The <b>sell bid</b> with the least price will be given highest preference.</li>
                </ul>

                <br>
                <br>

                <h4>Bank Mortgage</h4>
                <p><img src = "/assets/DS5-min.png" style="width:900px;height:400px;" class="img-responsive">
                   </p>
                <ul>
                <li>It lists all the stocks that you own and its related information.</li>
                <li>Bank Mortgage can be used to mortgage stocks with the bank at <b>75%(may vary during the course of time)</b> of the present price of the mortgaged stocks and later the mortgaged stocks can be bought back from the bank at the stocks current price.</li>
                </ul>

                <br>
                <br>

                <h4>Company Profile</h4>
                <p><img src = "/assets/DS9-min.png" style="width:900px;height:400px;" class="img-responsive">
                                   </p>
                <p>This page gives information about previous market news and history of a stock which can be of help to predict the rate of the stock.</p>
                 
                <br>
                <br>

                <h4>Bids and Asks</h4>
                <p><img src = "/assets/DS11-min.png" style="width:900px;height:400px;" class="img-responsive">
                                   </p>
                <p>This page shows you the Bids and Asks which are not successful.<p>
                <b>Hint : </b>If your <b>bids are not successful</b> means that  someone has already bid for that stock at a higher price which will be given more preference over yours, so try bidding at a higher price till it succeeds<b>(that is totally up to you)</b>.Always keep a check on your cash and market events and go for the right stocks.</p> 
                <p>If your <b>not able to sell your stocks at your ask price</b> it simply means that someone else has asked for the same stock at an even lower price which will be given more preference over your ask price.(try to sell it at lower prices if you want to sell your stocks successfully).</p>

                <br>
                <br>
                <p>You can now play Dalal Street on the go.The new interface is compatible with <b>mobile devices.</b></p>
                <p><b>Do not hesitate to contact us if you face any problems.</b>Have a great Pragyan!</p>
            </div>
          </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</body>

<script type="text/javascript">
	
    var dispatcher = new WebSocketRails($("#socket_link").data('uri'), true);

 $(document).ready(function(){

	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   4000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});

        var index_channel = new WebsocketClass(dispatcher);
        var index_subscribe = index_channel.channel_subscribe("index");
        var index_binder = index_channel.channel_binder("index_channel",update_index_page);

})


$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);

});

   var update_index_page = function(){
        var data = {bool:true};
        var index_update_socket = new WebsocketClass("#socket_link");
        var index_update_socket_binder = index_update_socket.evt_binder("index_updater");
        var index_update_socket_trigger = index_update_socket.evt_trigger("index_updater",data);
        var index_update_socket_unbind = index_update_socket.evt_unbinder();
   };

</script>

</html>
