    <div id ="bank_mortgage_partial_socket">
         <div class="row">
                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                                <th>StockBought</th>
                                            </tr>
                                        </thead>
                                        <tbody id="render_tbody">
                                             <tr>
                                                <% if !@stock.blank? %>
                                                <%if @stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <%else%> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                    <td><%=@stock.stockname%></td>
                                                    <td><%=@stock.alltimelow.round(2) %></td>
                                                    <td><%=@stock.alltimehigh.round(2) %></td>
                                                    <td><%=@stock.daylow.round(2) %></td>
                                                    <td><%=@stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=@stock.stocksinmarket%></td>
                                                    <td><%=@stock.totalstock %></td>
                                                <%else%>
                                                   <%= "You have not traded stocks yet."%>
                                                <%end-%>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                <div class="row">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Mortgage Panel</h3>
                            </div>
                            <div class="panel-body">
                                     <% if !@stock.blank? %>
                                      <div class="form-group">
                                      <%= label_tag "num_of_stock","Stocks to Mortgage"%>
                                      <%= text_field_tag "num_of_stock","",{:onkeypress =>"return isNumber(event);"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= hidden_field_tag "identity_bank","bank_#{@stock.id}"%><br>
                                      <%= tag "input", { "type"=>"button", "value"=>"Mortgage","name"=>"Mortgage", "class"=>"btn btn-primary btn-sm","data-dismiss"=>"modal", "onclick"=>"sendvalues_mortgage('bank_#{@stock.id}');" } %>
                                      </div>
                                    <%else%>
                                       <%= "You have not traded stocks yet."%>
                                    <%end-%>
                            </div>
                        </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Returns</h3>
                            </div>
                              <div class="panel-body">
                                <% if !@no_mortgage.blank? %>
                                  <%= @no_mortgage %>
                                <% else %>
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>MortgagedPrice</th>
                                                <th>StockMortgaged</th>
                                                <th>Return</th>
                                            </tr>
                                        </thead>
                                        <tbody id="render_tbody_show">
                                            <% @mortgage.each do |stock| %>
                                                <tr>
                                                    <td><%=stock.pricerendered.round(2) %></td>
                                                    <td><%=stock.numofstock %></td>
                                                    <td><%= hidden_field_tag "identity_bankreturn","bankreturn_#{stock.id}"%> <%= tag "input", { "type"=>"button", "value"=>"Return","name"=>"Return", "class"=>"btn btn-primary btn-sm","data-dismiss"=>"modal", "onclick"=>"sendvalues_mortgage('bankreturn_#{stock.id}');" } %></td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                     </table>
                                    </div>
                                <% end %>

                              </div>
                        </div> 
                  </div>
              </div> <!--row -->
       </div>