  <div id = "buy_sell_partial_socket">
     <div class="row">

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                            <%if !@no_stock_found%>
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                                <th>StockBought</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <tr>
                                                <% if @stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <% else %> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                    <td><%=@stock.stockname %></td>
                                                    <td><%=@stock.alltimelow.round(2) %></td>
                                                    <td><%=@stock.alltimehigh.round(2) %></td>
                                                    <td><%=@stock.daylow.round(2) %></td>
                                                    <td><%=@stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=@stock.stocksinmarket%></td>
                                                    <td><%=@stock.totalstock %></td>
                                                </tr>
                                             
                                        </tbody>
                                    </table>
                                </div>
                                <% else %>
                                     <div class="table-responsive">
                                         <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                            <thead>
                                                <tr>
                                                    <th>Stock</th>
                                                    <th>AllTimeLow</th>
                                                    <th>AllTimeHigh</th>
                                                    <th>DayLow</th>
                                                    <th>DayHigh</th>
                                                    <th>Current (USD)</th>
                                                    <th>StockInMarket</th>
                                                </tr>
                                            </thead>
                                            <tbody id="render_tbody">
                                                 <tr>
                                                 <% if @stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <% else %> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                        <td><%=@stock.stockname %></td>
                                                        <td><%=@stock.alltimelow.round(2) %></td>
                                                        <td><%=@stock.alltimehigh.round(2) %></td>
                                                        <td><%=@stock.daylow.round(2) %></td>
                                                        <td><%=@stock.dayhigh.round(2) %></td>
                                                        <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                        <td><%=@stock.stocksinmarket%></td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <%= @no_stock_found%>
                                <% end %>
                                
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                  <div class="row">

                    <div class="col-lg-6">
                      <div class="panel panel-default">
                       <div class="panel-heading">
                         <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Buy</h3>
                       </div>
                       <div class="panel-body">
                         <div class="table-responsive">
                          <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <% if !@buy_history.blank? %>
                                  <tr>
                                   <th>Bid</th>
                                   <th>numofstock</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @buy_history.each do |buy|%>
                                  <tr>
                                   <td>$<%= buy.price%></td>
                                   <td><%= buy.numofstock%></td>
                                  </tr>
                                  <% end %>
                                  <% else %>
                                    <%= "No bids for this stock yet"%>
                                  <% end %>
                                </tbody>
                          </table>
                        </div>
                       </div>
                       </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel panel-default">
                       <div class="panel-heading">
                         <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Sell</h3>
                       </div>
                       <div class="panel-body">
                         <div class="table-responsive">
                          <table class="table table-bordered table-hover table-striped">
                                <thead>
                                  <% if !@sell_history.blank? %>
                                  <tr>
                                   <th>Ask</th>
                                   <th>numofstock</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @sell_history.each do |sell|%>
                                  <tr>
                                   <td>$<%= sell.priceexpected%></td>
                                   <td> <%= sell.numofstock%></td>
                                  </tr>
                                  <% end %>
                                   <% else %>
                                    <%= "No sales for this stock yet"%>
                                  <% end %>
                                </tbody>
                          </table>
                        </div>
                     </div>
                     </div>
                   </div>
                  </div>

                  <div class="row">
                  <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Buy Panel</h3>
                            </div>
                            <div class="panel-body">    
                                      <div class="form-group">
                                      <%= label_tag "buy","Bid Price",{:class => "col-lg-4"}%>
                                      <%= text_field_tag "buy","",{:onkeypress =>"return isNumber(event);",:class =>"form-control form-control-custom"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= label_tag "buy_num_of_stock","Stocks",{:class => "col-lg-4"}%>
                                      <%= text_field_tag "buy_num_of_stock","",{:onkeypress =>"return isNumber(event);",:class =>"form-control form-control-custom"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= hidden_field_tag "identity_buy","buy_#{@stock.id}"%><br>
                                      <%= tag "input", { "type" => "button", "value" => "Buy","name" => "Buy", "class"=>"btn btn-primary btn-sm", "onclick" => "sendvalues('buy_#{@stock.id}');" } %>
                                      </div>
                             </div>   
                             </div>
                             </div> 

                              <div class="col-lg-6">
                              <div class="panel panel-default">
                              
                              <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Sell Panel</h3>
                              </div>

                              <div class="panel-body">      
                              <%if !@no_stock_found -%>
                                      <div class="form-group">
                                      <%= label_tag "sell","Ask Price",{:class => "col-lg-4"}%>             
                                      <%= text_field_tag "sell","",{:onkeypress =>"return isNumber(event);",:class =>"form-control form-control-custom"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= label_tag "sell_num_of_stock","Stocks",{:class => "col-lg-4"}%>
                                      <%= text_field_tag "sell_num_of_stock","",{:onkeypress =>"return isNumber(event);",:class =>"form-control form-control-custom"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= hidden_field_tag "identity_sell","sell_#{@stock.id}"%><br>
                                      <%= tag "input", { "type" => "button", "value" => "Sell","name" => "Sell", "class"=>"btn btn-primary btn-sm", "onclick" => "sendvalues('sell_#{@stock.id}');" } %>
                                      </div>
                               <% end -%>      
                              </div>
                              </div>
                            </div>
                            </div> <!--row inner-->
                        </div>
               </div> <!--row -->
           </div>