<div id="company_partial">
     <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
           <thead>
              <tr> 
                 <th>Stock</th>
                 <th>AllTimeLow</th>
                 <th>AllTimeHigh</th> 
                 <th>DayLow</th>
                 <th>DayHigh</th> 
                 <th>Current (USD)</th> 
                 <th>StockInMarket</th>
              </tr>
           </thead> 
           <tbody id="stock_details">
             <tr> 
              <% if @stock.updown == 1%>
                  <% @color="style=color:green"%> <% @image="src=/assets/up-arrow.jpg"%>
              <% else %> 
                  <% @color="style=color:red" %> <% @image="src=/assets/stock_down.gif"%> 
              <%end%> 
              <td><%=@stock.stockname %></td> 
              <td><%=@stock.alltimelow.round(2) %></td> 
              <td><%=@stock.alltimehigh.round(2) %></td>
              <td><%=@stock.daylow.round(2) %></td> 
              <td><%=@stock.dayhigh.round(2) %></td> 
              <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td> 
              <td><%=@stock.stocksinmarket%></td>
             </tr>
           </tbody>
        </table>
    </div>
</div>