<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dalal Street</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
    <%= csrf_meta_tags %>

<script>
        var limit="1:20";

        if (document.images){
        var parselimit=limit.split(":");
        parselimit=parselimit[0]*60+parselimit[1]*1;
        }
        
        function beginrefresh(){
        if (!document.images)
        return
        if (parselimit==1)
        window.location.reload()
        else{ 
        parselimit-=1;
        curmin=Math.floor(parselimit/60);
        cursec=parselimit%60;
        if (curmin!=0)
        {curtime=curmin+":"+cursec;
          if (cursec <= 9)
           curtime=curmin+":0"+cursec;
        }
        else
          {if(cursec >= 10)  
           curtime="0:"+cursec;
           else
           curtime="0:0"+cursec;
         }
        window.status=curtime

        $("#timer").html( curtime );
        setTimeout("beginrefresh()",1000)
        }
        }

        window.onload=beginrefresh
</script>


</head>

<body>

 <div id="wrapper">

 <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'show' do %>
                <span class="navbar-brand" style="color:#fff;"><b>DALAL STREET</b></span>
                <% end %>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                <a id="timer"> </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <% @notifications_list.each do |notice|%>
                        <li class="message-preview">
                            <a href="#" class="dropdown-toggle disabled">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong><%= current_user.username %></strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> <%= notice.updated_at%></p>
                                        <p><%= notice.notification%></p>
                                    </div>
                                </div>
                            </a>
                        </li> 
                        <% end %>
                        <li class="message-footer">
                          <a href="#notification_modal" data-toggle="modal" data-target="#notification_modal">Read All New Messages</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#" class="dropdown-toggle disabled">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><%= current_user.username %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="dropdown-toggle disabled"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle disabled"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle disabled"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <% if user_signed_in? %>
                            <span id="span"><i class="fa fa-fw fa-power-off"></i>
                            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                            <% end %></span>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li <% if !@class_show_active.blank? %><%= @class_show_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :action=>'show', :id => current_user.id  do %>
                        <span id="span"><i class="fa fa-fw fa-dashboard"></i>Dalal Panel</span>
                    <% end %>
                    </li>
                    <li <% if !@class_stock_active.blank? %><%= @class_stock_active %><% end %>  >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'stock' do %>
                        <span id="span"><i class="fa fa-fw fa-table"></i> Stock Exchange</span>
                    <% end %>
                    </li>
                    <li <% if !@class_buy_sell_active.blank? %><%= @class_buy_sell_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'buy_sell_page' do %>
                        <span id="span"><i class="fa fa-fw fa-money"></i> Buy and Sell</span>
                    <% end %>   
                    </li>
                    <li <% if !@class_bank_active.blank? %><%= @class_bank_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'bank_mortgage' do %>
                        <span id="span"><i class="fa fa-fw fa-desktop"></i> Bank Mortage</span>
                    <% end %>
                    </li>
                    <li <% if !@class_company_active.blank? %><%= @class_company_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'company' do %>
                        <span id="span"><i class="fa fa-fw fa-edit"></i> Company Profile</span>
                    <% end %>
                    </li>
                    <!-- <li>
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'market_events' do %>    
                        <span id="span"><i class="fa fa-fw fa-wrench"></i> Market Events</span>
                    <% end %>
                    </li> -->
                    <li <% if !@class_history_active.blank? %><%= @class_history_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'buy_sell_history' do %>
                        <span id="span"><i class="fa fa-fw fa-file"></i> Buy Sell History</span>
                    <% end %>
                    </li>
                    <li <% if !@class_leader_active.blank? %><%= @class_leader_active %><% end %> >
                    <%= link_to :controller=>'dalal_dashboard', :id => current_user.id , :action=>'leaderboard' do %>
                        <span id="span"><i class="fa fa-fw fa-file"></i> Leaderboard</span>
                    <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div class="modal" id="marketevent_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" <% {:is_active => true} %> > 
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <br>         
                <div class="modal-body">
                <%= render partial:"dalal_dashboard/partials/marketevent_modal_partial",locals: { market_events_paginate: @market_events_paginate,market_events_count: @market_events_count } %>
                </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal" id="notification_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" <% {:is_active => true} %>> 
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <br>         
                <div class="modal-body" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                <%= render partial:"dalal_dashboard/partials/notification_modal_partial",locals: {notifications_paginate: @notifications_paginate, notifications_count: @notifications_count} %>
                </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

     <%= yield :page_wrapper %>


  </div>
    <!-- /#wrapper -->

   <%= yield :style %>

   <script type="text/javascript">

   $('#notification_modal').modal('hide');
   $('#marketevent_modal').modal('hide');
 
   window.requestAnimationFrame = (function(){
    return  window.requestAnimationFrame       ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame    ||
            function( callback ){
              window.setTimeout(callback, 1000 / 60);
            };
  })();

  var speed = 1000;
  (function currencySlide(){
      var currencyPairWidth = $('.slideItem:first-child').outerWidth();
      $(".modal-backdrop").remove();
      $("#news1,#news2").newsticker();
      $(".slideContainer").animate({marginLeft:-currencyPairWidth},speed, 'linear', function(){
                  $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
          });
          requestAnimationFrame(currencySlide);
  })();

    var update_modal_partials = function(num,type){

       var data = {page: num,
                   type: type
                  };

       var modal_update_socket = new WebsocketClass(".table");
       var modal_update_socket_binder = modal_update_socket.evt_binder("update_modal_partials");
       var modal_update_socket_trigger = modal_update_socket.evt_trigger("update_modal_partials",data);
       var modal_update_socket_unbind = modal_update_socket.evt_unbinder();

    };

    </script>

   <%= yield :script %>

</body>
</html>