  <div id = "buy_sell_partial">
     <div class="row">
                  <div class="col-lg-12">
                    <div id="ajax_notice">
                    </div>
                    <% if flash[:notice] %>
                    <div class="notice"><%= flash[:notice] %></div>
                    <% end %>
                    <% if flash[:error] %>
                    <div class="error"><%= flash[:error] %></div>
                    <% end %>
                  </div>

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                            <%if !@no_stock_found%>
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                                <th>StockBought</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <tr>
                                                    <td><%=@stock.stockname %></td>
                                                    <td><%=@stock.alltimelow.round(2) %></td>
                                                    <td><%=@stock.alltimehigh.round(2) %></td>
                                                    <td><%=@stock.daylow.round(2) %></td>
                                                    <td><%=@stock.dayhigh.round(2) %></td>
                                                    <td><%=@stock.currentprice.round(2) %></td>
                                                    <td><%=@stock.stocksinmarket%></td>
                                                    <td><%=@stock.totalstock %></td>
                                                </tr>
                                             
                                        </tbody>
                                    </table>
                                </div>
                                <% else %>
                                     <div class="table-responsive">
                                         <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                            <thead>
                                                <tr>
                                                    <th>Stock</th>
                                                    <th>AllTimeLow</th>
                                                    <th>AllTimeHigh</th>
                                                    <th>DayLow</th>
                                                    <th>DayHigh</th>
                                                    <th>Current (USD)</th>
                                                    <th>StockInMarket</th>
                                                </tr>
                                            </thead>
                                            <tbody id="render_tbody">
                                                 <tr>
                                                        <td><%=@stock.stockname %></td>
                                                        <td><%=@stock.alltimelow %></td>
                                                        <td><%=@stock.alltimehigh %></td>
                                                        <td><%=@stock.daylow %></td>
                                                        <td><%=@stock.dayhigh %></td>
                                                        <td><%=@stock.currentprice %></td>
                                                        <td><%=@stock.stocksinmarket%></td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <%= @no_stock_found%>
                                <% end %>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                  <div class="row">
                  <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Buy Panel</h3>
                            </div>
                            <div class="panel-body">    
                   <%= form_tag({:controller => 'dalal_dashboard',:id => current_user.id, :action => 'buy_sell_stock'},{:id => "form_buy", :class => 'buy_sell', :method => 'post', :name=>"form_buy", :role=>"form"}) do |f|%>
                                      <div class="form-group">
                                      <%= label_tag "buy","Bid Price"%>
                                      <%= text_field_tag "buy","",{:onkeypress =>"return isNumber(event);"}%>
                                      </div>
                                      <div class="form-group">
                                      <%= label_tag "num_of_stock","Stocks"%>
                                      <%= text_field_tag "num_of_stock","",{:onkeypress =>"return isNumber(event);"}%>
                                      </div>
                                      <%= hidden_field_tag "identity_buy","buy_#{@stock.id}"%><br>
                                      <%= submit_tag "Buy" %>
                                     <% end %>
                             </div>   
                             </div>
                             </div> 

                              <div class="col-lg-6">
                              <div class="panel panel-default">
                              
                              <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Sell Panel</h3>
                              </div>

                              <div class="panel-body">      
                              <%if !@no_stock_found -%>
             <%= form_tag({:controller => 'dalal_dashboard',:id => current_user.id, :action => 'buy_sell_stock'},{:id => "form_sell", :class => 'buy_sell', :method => 'post', :name=>"form_sell",:role=>"form"}) do |f|%>
                                      <div class="form-group">
                                      <%= label_tag "sell","Ask Price"%>             
                                      <%= text_field_tag "sell","",{:onkeypress =>"return isNumber(event);"}%><br>
                                      </div>
                                      <div class="form-group">
                                      <%= label_tag "num_of_stock","Stocks"%>
                                      <%= text_field_tag "num_of_stock","",{:onkeypress =>"return isNumber(event);"}%>
                                      </div>
                                      <%= hidden_field_tag "identity_sell","sell_#{@stock.id}"%><br>
                                      <%= submit_tag "Sell" %>
                                     <% end %>
                               <% end -%>      
                              </div>
                              </div>
                            </div>
                            </div> <!--row inner-->
                        </div>
               </div> <!--row -->
           </div>