<% content_for :page_wrapper do %>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
            <div class="modal-body">
            <%= render partial:"dalal_dashboard/partials/bank_mortgage_partial",locals: { stock: @stock, mortgage: @mortgage, no_mortgage: @no_mortgage} %>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div id="page-wrapper">
           
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Mortgage</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Mortgage
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
 
                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
               
                <div class="row">
                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped"  data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                                <th>StocksBought</th>
                                                <th>TotalStockPrice</th>
                                            </tr>
                                        </thead>
                                        <tbody id="render_tbody">
                                            <% @stocks.each do |stock| %>
                                                <tr>
                                                 <%if stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <%else%> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                    <td><a href="#myModal" data-toggle="modal" data-target="#myModal" <%="onclick=get_single_stock_id('#{stock.id}');"%> ><%=stock.stockname%></a></td>
                                                    <td><%=stock.alltimelow.round(2) %></td>
                                                    <td><%=stock.alltimehigh.round(2) %></td>
                                                    <td><%=stock.daylow.round(2) %></td>
                                                    <td><%=stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=stock.stocksinmarket.round(2)%></td>
                                                    <td><%=stock.totalstock.round(2)%></td>
                                                    <td><%=stock.netcash.round(2)%></td>
                                                </tr>
                                            <% end %>     
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
<% end %>   

<% content_for :style do %>
<style>
.contcustom {
        text-align: center;
        width: 800px;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 0;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 20px;
    }
</style>

<% end %>

<% content_for :script do %>
 <script type="text/javascript">
  
  $('#myModal').modal('hide')
    jQuery(function ($) {
        function check_values() {
            if ($("#username").val().length != 0 && $("#password").val().length != 0) {
                $("#button1").removeClass("hidden").animate({ left: '250px' });
                $("#lock1").addClass("hidden").animate({ left: '250px' });
            }
        }
    });

   $(function(){
        var bankmortgage_channel = new WebsocketClass(".table");
        var bankmortgage_subscribe = bankmortgage_channel.channel_subscribe("index");
        var bankmortgage_binder = bankmortgage_channel.channel_binder("index_channel",update_bankmortgage);
   });

   var update_bankmortgage = function(){

   };
   
   var get_single_stock_id = function(stock_id){
        get_single_stock_modal(stock_id);
   };

   var get_single_stock_modal = function(stock_id){
        var data = {id: stock_id};
        var bankmortgage_socket = new WebsocketClass('.table');
        var bankmortgage_socket_binder = bankmortgage_socket.evt_binder("bank_mortgage_partial_render");
        var bankmortgage_socket_trigger = bankmortgage_socket.evt_trigger("bank_mortgage_partial_render",data);
        var bankmortgage_socket_unbind = bankmortgage_socket.evt_unbinder();
   };

  // var dispatcher = new WebSocketRails($('.table').data('uri'), true);

  // $(function(){
  //     dispatcher.on_open = function(){
  //       console.log("Connection established");
  //     };

  //     var channel = dispatcher.subscribe('stocks_all');
  //     channel.bind('call_channel_stock_all', function(get_value) {  
  //       console.log(get_value);
  //       get_completestock_info(get_value,dispatcher);
  //     });
      
  //   });

  //   var get_single_stock_modal = function(stock_id,dispatcher){

  //            var data = {id: stock_id};

  //            var success = function(response) {
  //                     console.log("success : "+response.message);
  //                     //dispatcher.unbind('notification_update');
  //                     };

  //            var failure = function(response) {
  //                      console.log("failure: "+response.message);
  //                     };

  //                dispatcher.bind('bank_mortgage_partial_render', getdata);
  //                dispatcher.trigger('bank_mortgage_partial_render', data, success, failure); 
                
  //                function getdata(get_data) {
  //                         var rs = new RestfulWebsockets();
  //                         console.log(get_data)
  //                         rs.refresh(get_data); 
  //                   }
  //   };

</script>

<% end %>    
