<% content_for :page_wrapper do %>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
             <div class="loader-modal-div" style="position:relative; z-index:99;">
                            
             </div>
            <div class="modal-body">
            <%= render partial:"dalal_dashboard/partials/buy_sell_partial_socket",locals: { stock: @stock, no_stock_found: @no_stock_found, buy_history: @buy_history, sell_history: @sell_history } %>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Buy and Sell Stock</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Buy and Sell
                            </li>
                        </ol>   
                    </div>
                </div>
                <!-- /.row -->

               
                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
               

                <div class="row">
                  <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Buy and Sell </h3>
                            </div>
                            <div class="panel-body">
                              <%= render partial:"dalal_dashboard/partials/main_buy_sell_partial",locals: { stocks_list: @stocks_list }%> 
                            </div>
                        </div>
                    </div>
                    </div>

                    
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                <%= render partial:"dalal_dashboard/partials/notification_partial",locals: { notifications_list: @notifications_list }%> 
                                </div>
                                <div class="text-right">
                                   <a href="#notification_modal" data-toggle="modal" data-target="#notification_modal">View All Activity <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

<% end %>

<% content_for :style do %>

<style>
.contcustom {
        text-align: center;
        width: 800px;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 0;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 20px;
    }
@media(max-width:768px) {
  .contcustom {
        text-align: center;
        width: 90%;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 20px;
    }

}

</style>

<% end %>

<% content_for :script do %>
 
 <script type="text/javascript">


  $(document).ready(function(){
            
            var show_update_socket_unbind = show_update_socket.evt_unbinder("update_stock_user");
            var stock_table_socket_unbind = stock_table_socket.evt_unbinder("stocktable_ajax_handler");
            var stock_unbinder = stock_channel.channel_unbinder("stock_channel");
            var show_unbinder = show_channel.channel_unbinder("show_channel");
            var buy_sell_socket_binder = buy_sell_socket.evt_binder("update_stock_all");
            

            var get_completestock_info  = function(data){
            var data = {bool:true};
            var buy_sell_socket_trigger = buy_sell_socket.evt_trigger("update_stock_all",data);
                // var buy_sell_socket_unbind = buy_sell_socket.evt_unbinder(); 
            }; 

        // var buy_sell_channel = new WebsocketClass(dispatcher);
        var buy_sell_subscribe = buy_sell_channel.channel_subscribe("buy_sell");
        var buy_sell_binder = buy_sell_channel.channel_binder("buy_sell_channel", get_completestock_info);

    });

    var get_single_stock_id = function(stock_id){
        get_single_stock_modal(stock_id);
    };

    var buy_sell_render_socket = new WebsocketClass(dispatcher);
    var buy_sell_render_socket_binder = buy_sell_render_socket.evt_binder("buy_sell_partial_render");
    var get_single_stock_modal = function(stock_id){
        var data = {id: stock_id};
        var buy_sell_render_socket_trigger = buy_sell_render_socket.evt_trigger("buy_sell_partial_render",data);
        // var buy_sell_render_socket_unbind = buy_sell_render_socket.evt_unbinder();
    };
   
    var sort_data = function(value){
      var type = value.split("_")[0];

      if (type == "buy")
      { var price = document.getElementById("buy").value;
        var num = document.getElementById("buy_num_of_stock").value;
      }
      else if (type == "sell")
      { var price = document.getElementById("sell").value;
        var num = document.getElementById("sell_num_of_stock").value;
      }
      else
        alert("Invalid.Please try again.");

      var data = {type_stock: value,
                  num_of_stock: num,
                  price: price
                 };

      return data;
    };

    var buy_sell_send_socket = new WebsocketClass(dispatcher);
    var buy_sell_send_socket_binder = buy_sell_send_socket.evt_binder("buy_sell_stock_socket");
    var sendvalues = function(value){
        var data = sort_data(value);
        var buy_sell_send_socket_trigger = buy_sell_send_socket.evt_trigger("buy_sell_stock_socket",data);
        // var buy_sell_send_socket_unbind = buy_sell_send_socket.evt_unbinder();
    };


     var isNumber = function(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };

     $(".allownumericwithdecimal").on("keypress keyup blur",function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
     $(this).val($(this).val().replace(/[^0-9\.]/g,''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
     });
 
</script>
<% end %>    
