<% content_for :page_wrapper do %>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Panel <small>Buy and Sell Stock</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
 
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like Dalal Street?</strong> Like our FB page <a href="#">Dalal Street</a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>New Comments!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <i class="fa fa-money fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=current_user.cash%></div>
                                        <div>Cash</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=current_user.cash%></div>
                                        <div>Stock</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                 
                  <div class="col-lg-12">
                    <% if flash[:notice] %>
                    <div class="notice"><%= flash[:notice] %></div>
                    <% end %>
                    <% if flash[:error] %>
                    <div class="error"><%= flash[:error] %></div>
                    <% end %>
                  </div>

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                                <th>StockBought</th>
                                            </tr>
                                        </thead>
                                        <tbody><% @stocks.each do |stock| %>
                                             <tr>
                                                    <td><%=stock.stockname %></td>
                                                    <td><%=stock.alltimelow %></td>
                                                    <td><%=stock.alltimehigh %></td>
                                                    <td><%=stock.daylow %></td>
                                                    <td><%=stock.dayhigh %></td>
                                                    <td><%=stock.currentprice %></td>
                                                    <td><%=stock.stocksinmarket%></td>
                                                    <td><%=stock.totalstock %></td>
                                                </tr>
                                            <% end %>  
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                <!-- /.row -->

                <div class="row">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Buy Sell Panel</h3>
                            </div>
                            <div class="panel-body">
                            
                            <div class="panel-body">    
                            <% @stocks.each do |stock| %>
                   <%= form_tag({:controller => 'dalal_dashboard',:id => current_user.id, :action => 'buy_sell_stock'},{:id => "form_buy", :class => 'buy_sell', :method => 'post', :name=>"form_buy"}) do |f|%>
                                      <%= label_tag "buy","Bid Price"%>
                                      <%= text_field_tag "buy"%><br>
                                      <%= label_tag "num_of_stock","Stocks"%>
                                      <%= text_field_tag "num_of_stock"%>
                                      <%= hidden_field_tag "identity_buy","stocktrade_#{stock.id}"%><br>
                                      <%= submit_tag "Buy" %>
                                     <% end %>
                             </div>        
                             <div class="panel-body">                            
                   <%= form_tag({:controller => 'dalal_dashboard',:id => current_user.id, :action => 'buy_sell_stock'},{:id => "form_sell", :class => 'buy_sell', :method => 'post', :name=>"form_sell"}) do |f|%>
                                      <%= label_tag "sell","Ask Price"%>             
                                      <%= text_field_tag "sell"%><br>
                                      <%= label_tag "num_of_stock","Stocks"%>
                                      <%= text_field_tag "num_of_stock"%>
                                      <%= hidden_field_tag "identity_sell","stocktrade_#{stock.id}"%><br>
                                      <%= submit_tag "Sell" %>
                                     <% end %>

                               <% end %>  
                              </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">

                           <%= render partial:"dalal_dashboard/notification_partial",locals: { notifications_list: @notifications_list }%>

                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :script do %>

   <script type="text/javascript">

    // window.onload = function(){
            //     var ctx = document.getElementById("chart-area").getContext("2d");
            //     window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
            // };
  
</script>

<% end %>    
