<% content_for :page_wrapper do %>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Company Profile</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Company
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list, market_events_total: @market_events_total,price_of_tot_stock: @price_of_tot_stock, user_current_cash: @user_current_cash }%>
              
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Company Panel</h3>
                            </div>
                            <div class="panel-body">
                              <div class="list-group">
                                  <label>Company</label>
                                  <div class="btn-group btn-input clearfix">
                                     <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                                       <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                                     </button>
                                     <ul class="dropdown-menu" role="menu">
                                      <%@stock_list.each do |list|%>
                                       <li><a href="#" <%= "onclick=get_company_name('#{list}');"%>><%= list%></a></li> 
                                       <%end-%>
                                     </ul>
                                   </div>
                               </div>   
                            
                               </div>  
                            </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                  <%= render partial:"dalal_dashboard/partials/company_partial",locals: { stock: @stock }%>                                 
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Stock Price</h3>
                            </div>
                          <div>
                          <canvas id="canvas_line" width="401" height="150" style="width: 401px; height: 150px;">
                            </canvas>
                          </div>
                        </div>

                        <!--  <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Market Capital</h3>
                            </div>
                          <div>
                          <canvas id="canvas_line2" width="401" height="150" style="width: 401px; height: 150px;"></canvas>
                          </div>
                        </div> -->
                    
                        </div>
                        <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Market Event Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" id="market_event_list" data-uri="<%= request.host %>:<%= request.port %>/websocket">
        <%= render partial:"dalal_dashboard/partials/marketevent_partial",locals: { market_event_list: @market_event_list }%> 
                                </div>
                                <div class="text-right">
                                    <a href="#marketevent_modal" data-toggle="modal" data-target="#marketevent_modal">View All Activity <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                </div> 
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :script do %>

 <%= render partial:"dalal_dashboard/partials/chart_partial.html.erb",locals: {price_list: @price_list}%>
 <!-- <%= render partial:"dalal_dashboard/partials/chart_partial_2.html.erb",locals: {price_list: @price_list,stocksinmarket: @stock.stocksinmarket}%> -->
 
 <script type="text/javascript">
  
    // $(function(){
    //     var index_channel = new WebsocketClass("#market_event_list");
    //     var index_subscribe = index_channel.channel_subscribe("index");
    //     var index_binder = index_channel.channel_binder("index_channel",update_index_page);
    // });
 
    var get_company_name = function(name){
       get_company_info(name);
    };
    
    var company_socket = new WebsocketClass(dispatcher);
    var company_socket_binder = company_socket.evt_binder("company_handler");
    var get_company_info = function(company_name){
        var data = {name: company_name};
        var company_socket_trigger = company_socket.evt_trigger("company_handler",data);
        // var company_socket_unbind = company_socket.evt_unbinder();
    };
</script>

<% end %>