<% content_for :page_wrapper do %>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Leaderboard</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Leaderboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                 <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list, market_events_total: @market_events_total,price_of_tot_stock: @price_of_tot_stock, user_current_cash: @user_current_cash }%>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Leaderboard</h3>
                            </div>
                            <div class="panel-body">
                              <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Net Worth</th>
                                            </tr>
                                        </thead>
                                        <tbody id="stock_details">
                                             <% @user_leader.each do |user| %>
                                                <tr>
                                                    <td><%=user.id %></td>
                                                    <td><%=user.total.round(2) %></td>
                                                </tr>
                                             <% end -%>   
                                        </tbody>
                                    </table>
                                </div>
                                <%= will_paginate @user_leader %>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :script do %>
      <script type="text/javascript">

         $('#notification_modal').modal('hide')

      </script>

<% end %>    
