<% content_for :page_wrapper do %>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
               
                <!-- /.row -->
                <div class="row">

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                             <%= render partial:"dalal_dashboard/partials/show_partial",locals: { stocks: @stocks }%>  
                            </div>
                              <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Company Panel</h3>
                            </div>
                            
                          <div class="row">
                           <div class="col-lg-8">

                            <div class="panel-body">
                              <div class="list-group">
                                  <label>Company</label>
                                  <div class="btn-group btn-input clearfix">
                                     <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                                       <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                                     </button>
                                     <ul id="company_panel" class="dropdown-menu" role="menu">
                                      <%@stocks.each do |stock|%>
                                      <li><a href="#company_panel" <%= "onclick=get_company_name('#{stock.stockname}');"%>><%= stock.stockname%></a></li> 
                                       <%end-%>
                                     </ul>
                                   </div>
                               </div>   
                             </div>  
                        
                                <div class="panel-body">
                                <div class="table-responsive">
                                    <% if !@no_stock_found %>
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                            </tr>
                                        </thead>
                                        <tbody id="stock_details">
                                                <tr>
                                                    <% if @stock.updown == 1%>
                                                        <% @color="style=color:green"%> 
                                                        <% @image="src=/assets/up-arrow.jpg"%> 
                                                    <% else %> 
                                                        <% @color="style=color:red" %>
                                                        <% @image="src=/assets/stock_down.gif"%> 
                                                    <%end%>
                                                    <td><%=@stock.stockname %></td>
                                                    <td><%=@stock.alltimelow.round(2) %></td>
                                                    <td><%=@stock.alltimehigh.round(2) %></td>
                                                    <td><%=@stock.daylow.round(2) %></td>
                                                    <td><%=@stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=@stock.stocksinmarket%></td>
                                                </tr>
                                        </tbody>
                                    </table>
                                     <% else %>
                                        <div><%= "#{@no_stock_found}" %></div>
                                     <% end %>
                                </div>
                                </div>

                            <div class="panel-body">

                            <div role="tabpanel">
                              <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation"  class="active"><a href="#cur_price" aria-controls="home" role="tab" data-toggle="tab" onclick="tab_selector('cur_price');">Current Price</a></li>
                                <li role="presentation"><a href="#mark_cap" aria-controls="profile" role="tab" data-toggle="tab" onclick="tab_selector('mark_cap');">Market capital</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="cur_price"> 
                                    <div>
                                    <canvas id="canvas_line" width="401" height="150" style="width: 401px; height: 150px;"></canvas>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mark_cap">
                                    <div>
                                    <canvas id="canvas_line2" width="401" height="150" style="width: 401px; height: 150px;"></canvas>
                                    </div>
                                </div>
                              </div>
                            </div>

                            </div>

                        </div><!-- col-->
                        <div class="col-lg-4">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Company Event</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" id="market_event_list" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                 <% if !@no_stock_found %>
                                    <%@market_event_list.each do |event|%>
                                     <a href="#" class="list-group-item">
                                     <span class="badge"><%= event.updated_at%></span>
                                     <i class="fa fa-fw fa-check"></i> <%= event.eventname%> </a> 
                                    <% end %>
                                 <% end %>   
                                 </div>
                                  <a href="#marketevent_modal" data-toggle="modal" data-target="#marketevent_modal">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>  

                        </div> <!--row -->

                        </div><!--panel default-->
                    </div><!-- col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Mortaged Stocks</h3>
                            </div>
                                <div class="panel-body">
                                <div class="table-responsive">
                                 <% if !@no_mortgage_found %>
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>MortgagedPrice</th>
                                                <th>StockMortgaged</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody id="render_tbody_show">
                                             <% @mortgage.each do |stock| %>
                                                <tr>
                                                <% if stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <% else %> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                    <td><%=stock.stockname %></td>
                                                    <td><%=stock.daylow.round(2) %></td>
                                                    <td><%=stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=stock.pricerendered.round(2) %></td>
                                                    <td><%=stock.numofstock %></td>
                                                </tr>
                                            <% end %>     
                                        </tbody>
                                    </table>
                                    <% else %>
                                      <div><%= "#{@no_mortgage_found}" %></div>
                                    <% end %>
                                    </div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" id ="notification">
                                  <%= render partial:"dalal_dashboard/partials/notification_partial",locals: { notifications_list: @notifications_list }%> 
                                </div>
                                <div class="text-right">
                <a href="#notification_modal" data-toggle="modal" data-target="#notification_modal">View All Activity <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :style do %>

<% end %>

<% content_for :script do %>
 <script type="text/javascript">
var dispatcher = new WebSocketRails($(".table").data("uri"), !0);
$(function() {
    var b = document.getElementById("canvas_line"),
        c = document.getElementById("canvas_line").getContext("2d");
    c.clearRect(0, 0, b.width, b.height);
    var b = current_price_list_array("<%=@stock_price%>"),
        d = [];
    b.splice(b.length - 1, 1);
    for (var a = 0; a < b.length; a++) d.push(a);
    b = {
        labels: d,
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(255,0,0,0.1)",
            strokeColor: "rgba(220,0,0,0.3)",
            pointColor: "rgba(220,0,0,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,0,0,0.3)",
            data: b
        }]
    };
    window.myLine = (new Chart(c)).Line(b, {
        responsive: !0
    });
    myLine.destroy();
    c = dispatcher.subscribe("show");
    dispatcher.on_open = function() {
        console.log("Connection established")
    };
    c.bind("show_channel", function(a) {
        get_userstock_info(a, dispatcher)
    })
});

function round(b, c) {
    return Number(Math.round(b + "e" + c) + "e-" + c)
}
var get_userstock_info = function(b, c) {
    var d = {
        receive: b
    };
    c.bind("update_stock_user", function(a) {
        console.log(a);
        (new RestfulWebsockets).refresh(a)
    });
    c.trigger("update_stock_user", d, function(a) {
        console.log("Wow it worked: " + a.message)
    }, function(a) {
        console.log("That just totally failed: " + a.message)
    })
}, get_company_name = function(b) {
        get_company_info(b, dispatcher)
    }, current_price_list_array = function(b) {
        return b.split(",")
    }, get_company_info = function(b, c) {
        var d = {
            name: b
        };
        c.bind("company_handler", function(a) {
            console.log(a);
            console.log(a.sent_data.price_list);
            console.log(a.sent_data.stock_details);
            chart_loader(current_price_list_array(a.sent_data.price_list));
            for (var b = 7 <= a.sent_data.market_list.length ? 7 : a.sent_data.market_list.length, c = 0; c < b; c++) var d = a.sent_data.market_list[c],
            e = e + '<a href="#" class="list-group-item"><span class="badge">' + d.updated_at + '</span><i class="fa fa-fw fa-check"></i>' + d.eventname + "</a>";
            a = a.sent_data.stock_details;
            1 == a.updown ? (b = "green", c = "src=/assets/up-arrow.jpg") : (b = "red", c = "src=/assets/stock_down.gif");
            var f = f + "<tr><td>" + a.stockname + "</td><td>" + round(a.alltimelow, 2) + "</td><td>" + round(a.alltimehigh, 2) + "</td><td>" + round(a.daylow, 2) + "</td><td>" + round(a.dayhigh, 2) + '</td><td style="color:' + b + '">' + round(a.currentprice, 2) + "<span><img " + c + ' style="width:7px;height:7px;"></img></span></td><td>' + a.stocksinmarket + "</td></tr>";
            $("#market_event_list").empty().append(e);
            $("#stock_details").empty().append(f)
        });
        c.trigger("company_handler", d, function(a) {
            console.log("Wow it worked: " + a.message)
        }, function(a) {
            console.log("That just totally failed: " +
                a.message)
        })
    };
$("#myTab a").click(function(b) {
    b.preventDefault();
    $(this).tab("show")
});
var tab_selector = function(b) {
    var c = current_price_list_array("<%=@stock_price%>"),
        d = [];
    c.splice(c.length - 1, 1);
    for (var a = 0; a < c.length; a++) d.push(a);
    "mark_cap" == b ? (console.log(b), chart_loader2(c)) : chart_loader(c)
}, chart_loader = function(b) {
        var c = document.getElementById("canvas_line"),
            d = document.getElementById("canvas_line").getContext("2d");
        d.clearRect(0, 0, c.width, c.height);
        var a = [];
        (function(b) {
            b.splice(b.length - 1, 1);
            Array.min = function(a) {
                return Math.min.apply(Math, a)
            };
            Array.max = function(a) {
                return Math.max.apply(Math,
                    a)
            };
            for (var c = 0; c < b.length; c++) a.push(c)
        })(b);
        b = {
            labels: a,
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(255,0,0,0.1)",
                strokeColor: "rgba(220,0,0,0.3)",
                pointColor: "rgba(220,0,0,0.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,0,0,0.3)",
                data: b
            }]
        };
        window.myLine = (new Chart(d)).Line(b, {
            responsive: !0
        });
        myLine.destroy()
    }, chart_loader2 = function(b) {
        var c = document.getElementById("canvas_line2"),
            d = document.getElementById("canvas_line2").getContext("2d");
        d.clearRect(0,
            0, c.width, c.height);
        var a = [];
        (function(b) {
            b.splice(b.length - 1, 1);
            Array.min = function(a) {
                return Math.min.apply(Math, a)
            };
            Array.max = function(a) {
                return Math.max.apply(Math, a)
            };
            for (var c = 0; c < b.length; c++) a.push(c)
        })(b);
        b = {
            labels: a,
            datasets: [{
                label: "My second dataset",
                fillColor: "rgba(255,0,0,0.1)",
                strokeColor: "rgba(220,0,0,0.3)",
                pointColor: "rgba(220,0,0,0.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,0,0,0.3)",
                data: b
            }]
        };
        window.myLine2 = (new Chart(d)).Line(b, {
            responsive: !0
        });
        myLine2.destroy()
    };
    
</script>

<% end %>    
