<% content_for :page_wrapper do %>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Panel <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                <div class="col-lg-12">
                <%= render partial:"dalal_dashboard/partials/stock_marquee_partial",locals: { stocks_list: @stocks_list }%>
                </div>
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like Dalal Street?</strong> Like our FB page <a href="#">Dalal Street</a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
                </div>
                <!-- /.row -->
                <div class="row">

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                             <%= render partial:"dalal_dashboard/partials/show_partial",locals: { stocks: @stocks }%>  
                            </div>
                              <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div> <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Company Panel</h3>
                            </div>
                            
                          <div class="row">
                           <div class="col-lg-8">

                            <div class="panel-body">
                              <div class="list-group">
                                  <label>Company</label>
                                  <div class="btn-group btn-input clearfix">
                                     <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                                       <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                                     </button>
                                     <ul id="company_panel" class="dropdown-menu" role="menu">
                                      <%@stocks.each do |stock|%>
                                      <li><a href="#company_panel" <%= "onclick=get_company_name('#{stock.stockname}');"%>><%= stock.stockname%></a></li> 
                                       <%end-%>
                                     </ul>
                                   </div>
                               </div>   
                             </div>  
                        
                                <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>AllTimeLow</th>
                                                <th>AllTimeHigh</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>StockInMarket</th>
                                            </tr>
                                        </thead>
                                        <tbody id="stock_details">
                                                <tr>
                                                    <% if @stock.updown == 1%>
                                                        <% @color="style=color:green"%> 
                                                        <% @image="src=/assets/up-arrow.jpg"%> 
                                                    <% else %> 
                                                        <% @color="style=color:red" %>
                                                        <% @image="src=/assets/stock_down.gif"%> 
                                                    <%end%>
                                                    <td><%=@stock.stockname %></td>
                                                    <td><%=@stock.alltimelow.round(2) %></td>
                                                    <td><%=@stock.alltimehigh.round(2) %></td>
                                                    <td><%=@stock.daylow.round(2) %></td>
                                                    <td><%=@stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=@stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=@stock.stocksinmarket%></td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>

                            <div class="panel-body">

                            <div role="tabpanel">
                              <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation"  class="active"><a href="#cur_price" aria-controls="home" role="tab" data-toggle="tab" onclick="tab_selector('cur_price');">Current Price</a></li>
                                <li role="presentation"><a href="#mark_cap" aria-controls="profile" role="tab" data-toggle="tab" onclick="tab_selector('mark_cap');">Market capital</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="cur_price"> 
                                    <div>
                                    <canvas id="canvas_line" width="401" height="150" style="width: 401px; height: 150px;"></canvas>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mark_cap">
                                    <div>
                                    <canvas id="canvas_line2" width="401" height="150" style="width: 401px; height: 150px;"></canvas>
                                    </div>
                                </div>
                              </div>
                            </div>

                            </div>

                        </div><!-- col-->
                        <div class="col-lg-4">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Company Event</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" id="market_event_list" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                    <%@market_event_list.each do |event|%>
                                     <a href="#" class="list-group-item">
                                     <span class="badge"><%= event.updated_at%></span>
                                     <i class="fa fa-fw fa-check"></i> <%= event.eventname%> </a> 
                                    <% end %>
                                 </div>
                            </div>
                        </div>  

                        </div> <!--row -->

                        </div><!--panel default-->
                    </div><!-- col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Mortaged Stocks</h3>
                            </div>
                                <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>DayLow</th>
                                                <th>DayHigh</th>
                                                <th>Current (USD)</th>
                                                <th>MortgagedPrice</th>
                                                <th>StockMortgaged</th>
                                                <th>StockWorth</th>
                                            </tr>
                                        </thead>
                                        <tbody id="render_tbody_show">
                                             <% @mortgage.each do |stock| %>
                                                <tr>
                                                <% if stock.updown == 1%>
                                                    <% @color="style=color:green"%> 
                                                    <% @image="src=/assets/up-arrow.jpg"%> 
                                                <% else %> 
                                                    <% @color="style=color:red" %>
                                                    <% @image="src=/assets/stock_down.gif"%> 
                                                <%end%>
                                                    <td><%=stock.stockname %></td>
                                                    <td><%=stock.daylow.round(2) %></td>
                                                    <td><%=stock.dayhigh.round(2) %></td>
                                                    <td <%=@color%> ><%=stock.currentprice.round(2) %><span><img <%=@image%> style="width:7px;height:7px;"></img></span></td>
                                                    <td><%=stock.pricerendered.round(2) %></td>
                                                    <td><%=stock.numofstock %></td>
                                                    <td><%=stock.netcash.round(2) %></td>
                                                </tr>
                                            <% end %>     
                                        </tbody>
                                    </table>
                                    </div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" id ="notification">
                                  <%= render partial:"dalal_dashboard/partials/notification_partial",locals: { notifications_list: @notifications_list }%> 
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :style do %>
<style>

.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;
    /*background:-webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%);*/
    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;
    /*background:-webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%);*/
    width:25%;
    height:100%;
}
.slider ul{
    background:#fff;
    overflow:hidden;
    width:1000%;
    margin:0;
}

.slider li{
    list-style:none;
    display:inline-block;
    padding:0 10px;
}
</style>

<% end %>

<% content_for :script do %>

   <script type="text/javascript">

     window.requestAnimationFrame = (function(){
      return  window.requestAnimationFrame       ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame    ||
              function( callback ){
                window.setTimeout(callback, 1000 / 60);
              };
    })();

    var speed = 1000;
    (function currencySlide(){
        var currencyPairWidth = $('.slideItem:first-child').outerWidth();
        $(".slideContainer").animate({marginLeft:-currencyPairWidth},speed, 'linear', function(){
                    $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
            });
            requestAnimationFrame(currencySlide);
    })();

      $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
      var $target = $( event.currentTarget );

      $target.closest( '.btn-group' )
         .find( '[data-bind="label"]' ).text( $target.text() )
            .end()
         .children( '.dropdown-toggle' ).dropdown( 'toggle' );

      return false;

   });

   
    var dispatcher = new WebSocketRails($('.table').data('uri'), true);

     $(function(){

      var canvas = document.getElementById("canvas_line");
      var ctx1 = document.getElementById("canvas_line").getContext("2d");
      ctx1.clearRect(0, 0, canvas.width, canvas.height);

      var pricelist = current_price_list_array('<%=@stock_price%>');
      var label = [];
      pricelist.splice(pricelist.length-1, 1);
      
         for(var i = 0; i<pricelist.length; i++)
             label.push(i);
      
       var lineChartData = {
            labels : label,
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(255,0,0,0.1)",
                    strokeColor : "rgba(220,0,0,0.3)",
                    pointColor : "rgba(220,0,0,0.3)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,0,0,0.3)",
                    data : pricelist
                }]
        };

            window.myLine = new Chart(ctx1).Line(lineChartData, {
                    responsive: true,
                });

            myLine.destroy();


      var channel = dispatcher.subscribe('show');

      dispatcher.on_open = function(){
        console.log("Connection established");
      };

      channel.bind('show_channel', function(get_value) {
        get_userstock_info(get_value,dispatcher);
      });
    });

     function round(value, decimals) {
       return Number(Math.round(value+'e'+decimals)+'e-'+decimals); 
    }

    var get_userstock_info  = function(bool,dispatcher){

         var sent = {receive: bool};

         var success = function(response) {
                  console.log("Wow it worked: "+response.message);
                  //dispatcher.unbind('notification_update');
                  };

         var failure = function(response) {
                   console.log("That just totally failed: "+response.message);
                  };

             dispatcher.bind('update_stock_user', function(show_value) {

                      console.log(show_value);
                      var rs = new RestfulWebsockets();
                      rs.refresh(show_value);
                         
      });
     
         dispatcher.trigger('update_stock_user', sent, success, failure); 

    }; 
            
   var get_company_name = function(name){
       get_company_info(name,dispatcher);
    };

    var current_price_list_array = function(pricelist){
     var price_list_array = pricelist.split(",")
     return price_list_array
    };

    var get_company_info  = function(company_name,dispatcher){

         var data = {name: company_name};

         var success = function(response) {
                  console.log("Wow it worked: "+response.message);
                  //dispatcher.unbind('notification_update');
                  };

         var failure = function(response) {
                   console.log("That just totally failed: "+response.message);
                  };

             dispatcher.bind('company_handler', function(get_value) {
                  console.log(get_value);
                  console.log(get_value.sent_data.price_list);
                  console.log(get_value.sent_data.stock_details);
                  chart_loader(current_price_list_array(get_value.sent_data.price_list));
                        
             if (get_value.sent_data.market_list.length >= 7)
                var length = 7;
             else
                var length = get_value.sent_data.market_list.length;

             for(var i = 0; i < length; i++) {
                           
                           var obj = get_value.sent_data.market_list[i];
                 
                           var fill_table = fill_table+'<a href="#" class=\"list-group-item\"><span class=\"badge\">'+obj.updated_at+'</span><i class=\"fa fa-fw fa-check\"></i>'+obj.eventname+'</a>';
                            }
             
             var stock = get_value.sent_data.stock_details;

             if (stock.updown == 1){
                 var color = 'green'; 
                 var img = 'src=/assets/up-arrow.jpg';}                  
             else
                {var color = 'red';
                 var img = 'src=/assets/stock_down.gif';}
                  
             var stock_table = stock_table+'<tr><td>'+stock.stockname+'</td><td>'+round(stock.alltimelow,2)+'</td><td>'+round(stock.alltimehigh,2)+'</td><td>'+round(stock.daylow,2)+'</td><td>'+round(stock.dayhigh,2)+'</td><td style="color:'+color+'">'+round(stock.currentprice,2)+'<span><img '+img+' style="width:7px;height:7px;"></img></span></td><td>'+stock.stocksinmarket+'</td></tr>';
                            
                    $("#market_event_list").empty().append(fill_table);
                    $("#stock_details").empty().append(stock_table);

      });
     
         dispatcher.trigger('company_handler', data, success, failure); 

    }; 

     $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    var tab_selector = function(id){
      
      var pricelist = current_price_list_array('<%=@stock_price%>');
      var label = [];
      pricelist.splice(pricelist.length-1, 1);
      
         for(var i = 0; i<pricelist.length; i++)
             label.push(i);
      
    if (id == 'mark_cap')
        {console.log( id );
        chart_loader2(pricelist);
        }
    else
        chart_loader(pricelist);
        
    };


    var chart_loader = function(pricelist){

    var canvas = document.getElementById("canvas_line");
    var ctx1 = document.getElementById("canvas_line").getContext("2d");
    ctx1.clearRect(0, 0, canvas.width, canvas.height);

    var min,step,width_div=[],label=[];   
        
    var manipulator = function(pricelist){

        pricelist.splice(pricelist.length-1, 1);
        
        Array.min = function(pricelist){
                      return Math.min.apply( Math, pricelist );
                    };
        Array.max = function(pricelist){
                      return Math.max.apply( Math, pricelist );
                    };              
         // min = Array.min(pricelist);
         // var max = Array.max(pricelist);
         // step = round((max - min)/10,1);
         
         for(var i = 0; i<pricelist.length; i++)
             label.push(i);
    
    //      width_div.push(min-step);
    //      for(var i = 1; i <11; i++)
    //          width_div.push(width_div[i-1]+step);
         };  
       //process raw - data
       manipulator(pricelist);

       var lineChartData = {
            labels : label,
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(255,0,0,0.1)",
                    strokeColor : "rgba(220,0,0,0.3)",
                    pointColor : "rgba(220,0,0,0.3)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,0,0,0.3)",
                    data : pricelist
                }]
        };  
            
            window.myLine = new Chart(ctx1).Line(lineChartData, {
                    responsive: true,
                });

            myLine.destroy();

    };         

 
    var chart_loader2 = function(pricelist){

    var canvas2 = document.getElementById("canvas_line2");
    var ctx2 = document.getElementById("canvas_line2").getContext("2d");
    ctx2.clearRect(0, 0, canvas2.width, canvas2.height);

    var label=[];   
        
    var manipulator = function(pricelist){
        pricelist.splice(pricelist.length-1, 1);

        Array.min = function(pricelist){
                      return Math.min.apply( Math, pricelist );
                    };
        Array.max = function(pricelist){
                      return Math.max.apply( Math, pricelist );
                    };              
    
         for(var i = 0; i<pricelist.length; i++)
             label.push(i);
    };  
       //process raw - data
       manipulator(pricelist);

    var lineChartData2 = {
            labels : label,
            datasets : [
                {
                    label: "My second dataset",
                    fillColor : "rgba(255,0,0,0.1)",
                    strokeColor : "rgba(220,0,0,0.3)",
                    pointColor : "rgba(220,0,0,0.3)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,0,0,0.3)",
                    data : pricelist
                }]
        };
           window.myLine2 = new Chart(ctx2).Line(lineChartData2,  {
                    responsive: true,
                });

            myLine2.destroy();

    };         

</script>

<% end %>    
