<% content_for :page_wrapper do %>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Stock Market</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Market
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list, market_events_total: @market_events_total,price_of_tot_stock: @price_of_tot_stock, user_current_cash: @user_current_cash }%>
               
                <!-- /.row -->

                <div class="row">
                
                  <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Stocks </h3>
                            </div>
                            <div class="panel-body">
                             <%= render partial:"dalal_dashboard/partials/stock_partial",locals: { stocks: @stocks }%>  
                               
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" data-uri="<%= request.host %>:<%= request.port %>/websocket">
                                <%= render partial:"dalal_dashboard/partials/notification_partial",locals: { notifications_list: @notifications_list }%> 
                                </div>
                                <div class="text-right">
                                   <a href="#notification_modal" data-toggle="modal" data-target="#notification_modal">View All Activity <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
<% end %>

<% content_for :style do %>

<% end %>

<% content_for :script do %>
 <script type="text/javascript">

    $(function(){
        var stock_channel = new WebsocketClass(dispatcher);
        var stock_subscribe = stock_channel.channel_subscribe("stock");
        var stock_binder = stock_channel.channel_binder("stock_channel",get_table);
    });

    var swapper = function(swap_stock_trade){
     var coin_field_id = "stocktrade_"+swap_stock_trade.split('_')[1];
     document.getElementById(coin_field_id).value = document.getElementById(swap_stock_trade).value;
    };

    var isNumber= function(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };
    
    var stock_socket = new WebsocketClass(dispatcher);
    var stock_socket_binder = stock_socket.evt_binder("stock_ajax_handler");
    
    var getvalues = function(value){
        var valuenum = value.split('_')[1];
        var data = {identity: valuenum,value: document.getElementById(value).value};
        var stock_socket_trigger = stock_socket.evt_trigger("stock_ajax_handler",data);
        // var stock_socket_unbind = stock_socket.evt_unbinder();
        // get_table();
        $("#news1,#news2").newsticker();
   };

    var stock_table_socket = new WebsocketClass(dispatcher);
    var stock_table_socket_binder = stock_table_socket.evt_binder("stocktable_ajax_handler");
    var get_table = function(){
        data = {bool:true};
        var stock_table_socket_trigger = stock_table_socket.evt_trigger("stocktable_ajax_handler",data);
        // var stock_table_socket_unbind = stock_table_socket.evt_unbinder();
   };   



</script>

<% end %>    